/*This will serve as a general style layout for most of my (first) webpages*/

/* specific h1-h6 styling details:*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#mainHeader{
    border: 1px solid black;
}

.logo {
    font-family: 'Roboto', 'sans-Serif';
}

    .logoBig{
        font-size: 2rem;
        border: 1px solid black;
    }
    .logoSmall{
        font-size: 1.3rem;
        border: 1px solid black;
    }

h1 {
    display: block;
    font-size: 2em; 
    margin-top: 0.67em; 
    margin-bottom: 0.67em; 
    margin-left: 0; 
    margin-right: 0; 
    font-weight: bold
}

h2 {
    display: block; 
    font-size: 1.5em; 
    margin-top: 0.83em; 
    margin-bottom: 0.83em; 
    margin-left: 0; 
    margin-right: 0; 
    font-weight: bold
}

h3 {
    display: block; 
    font-size: 1.17em; 
    margin-top: 1em; 
    margin-bottom: 1em; 
    margin-left: 0; 
    margin-right: 0; 
    font-weight: bold;
}

h4 {
    display: block; 
    font-size: 1em; 
    margin-top: 1.33em; 
    margin-bottom: 1.33em; 
    margin-left: 0; 
    margin-right: 0; 
    font-weight: bold;
}

h5 {
    display: block; 
    font-size: .83em; 
    margin-top: 1.67em; 
    margin-bottom: 1.67em; 
    margin-left: 0; 
    margin-right: 0; 
    font-weight: bold;
}

h6 {
    display: block; 
    font-size: .67em; 
    margin-top: 2.33em; 
    margin-bottom: 2.33em; 
    margin-left: 0; 
    margin-right: 0; 
    font-weight: bold;
}


/*body { font: 13px/1.6 Helvetica, Arial, FreeSans, sans-serif;}
h1, h2, h3, h4, h5, h6 { color:#333; }
h1 { font-size: 50px; text-shadow:1px 1px 0 #fff; font-family:arial black, arial}
h2 { font-size: 23px; }
h3 { font-size: 21px; }
h4 { font-size: 19px; }
h5 { font-size: 17px; }
h6 { font-size: 15px; }
p, h1, h2, h3, h4, h5, h6, ul { margin-bottom: 20px; }
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section*/